*{
    top: 50px;
    /* background: url(download.jfif)  top; */
    /* background-size: cover; */
    /* z-index: 6; */
    /* background-color: rgb(253, 255, 240); */
    /* z-index: 4; */
    
}
.hello{
    height: 50%;
}
.df{
    position: absolute;
    top: 350px;
    left: 35%;
}
h1{
    position: relative;
    width: auto;
    left: 30%;
    color: darkblue;
}